<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Patinet Type</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="form-group">
          <label class="form-control-label">Patient Title</label>
          <input type="text" class="form-control" placeholder="Name" name="username" [(ngModel)]="PatientType.title">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="close($event)">Cancel</button>
      <button class="btn btn-primary" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
