<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Regimen Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="form-group">
          <label class="form-control-label">Display Name</label>
          <input type="text" class="form-control" placeholder="Name" name="username" [(ngModel)]="RegimenDetail.dispName">
        </div>
        <div class="form-group">
          <label class="form-control-label">Name</label>
          <input type="text" class="form-control" placeholder="Middlename" name="middlename" [(ngModel)]="RegimenDetail.name">
        </div>
        <div class="form-group">
          <label class="form-control-label">Schedule</label>
          <ck-editor name="editor1" type="text" class="form-control" [(ngModel)]="RegimenDetail.schedule" skin="moono-lisa" language="en"></ck-editor>
          <!--          <input type="text" class="form-control" placeholder="Lastname" name="lastname" [(ngModel)]="RegimenDetail.schedule">-->
        </div>
        <div class="form-group">
          <label class="form-control-label">Emetogenic Potential</label>
          <input type="text" class="form-control" placeholder="Occupation" name="occupation" [(ngModel)]="RegimenDetail.emetogenicPotential">
        </div>
        <div class="form-group">
          <label class="form-control-label">Reference</label>
          <input type="text" class="form-control" placeholder="Occupation" name="occupation" [(ngModel)]="RegimenDetail.reference">
        </div>
        <div class="form-group">
          <label class="form-control-label">Dosage Modifications</label>
          <input type="text" class="form-control" placeholder="Occupation" name="occupation" [(ngModel)]="RegimenDetail.dosageModifications">
        </div>
        <div class="form-group">
          <label class="form-control-label">Brand Names</label>
          <input type="text" class="form-control" placeholder="Occupation" name="occupation" [(ngModel)]="RegimenDetail.brandNames">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="close($event)">Cancel</button>
      <button class="btn btn-primary" (click)="okay()">Ok</button>
    </div>
  </div>
</div>
